---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Developer: Dxsk
Site: https://github.com/Dxsk
Location: France

/* SITE */
Last update: 2026-04-01
Language: English
Standards: HTML5, CSS3
Components: Eleventy 3, Prism.js
IDE: VSCodium, Vim
